.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f3f3;
}

.calculator .container {
  display: grid;
  grid-template-columns: auto;
  grid-template-columns: repeat(4, 1fr);
  width: 400px;
  height: 55vh;
}

button {
  border: 2px solid #d1d1d1;
}

.display {
  display: grid;
  grid-column: 1 / 5;
  background-color: #858694;
  align-items: center;
  justify-content: end;
  padding-right: 1rem;
  font-size: 30px;
}

.orange {
  background-color: #f5913e;
}

.lighter {
  background-color: #e0e0e0;
}

.arithmetic {
  font-weight: 400;
  font-size: 25px;
}

.zero-btn {
  grid-column: 1/3;
}

* {
  font-weight: 400;
  font-size: 20px;
}

.flex-spaced {
  display: flex;
  justify-content: space-around;
}

.flex {
  display: flex;
}

.gap-1 {
  gap: 1rem;
}

ul {
  list-style: none;
  width: 50%;
  margin-top: -6rem;
}